# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.env/
env/

# VS Code settings
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Test results
*.log

# OS specific
.DS_Store
Thumbs.db

# Environment variable files
.env.local
.env.*.local

# Mac specific files
.DS_Store?

# Backup/Swap files
*~
*.swp
*.swo
