<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='butterfly.ico') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>About This 🦋 Project</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/stages">Life Stages</a>
      </nav>
    </header>

    <section>
      <p>This is a learning project built with Flask and Python 💙</p>
      <p>
        It shows the beauty of metamorphosis: how a caterpillar becomes a
        butterfly.
      </p>
    </section>
  </body>
</html>
