<!DOCTYPE html>
<html>
  <head>
    <title>Butterfly Project</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='butterfly.ico') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <header>
      <h1>Welcome to the 🦋 Project</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/stages">Life Stages</a>
      </nav>
    </header>

    <section>
      <h2>Transformation of a Butterfly</h2>
      <p>
        From caterpillar to chrysalis to butterfly, discover the magic of
        transformation!
      </p>
      <img
        data-zoom
        src="{{ url_for('static', filename='butterfly.png') }}"
        alt="Butterfly"
        class="main-img"
      />
    </section>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
